
.profileInfo{
  background-color: rgb(37, 37, 37);
  display:flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
}
.profileAvatar img{
  border-radius: 20px;
}
.profileAvatar{
  max-height: 200px;
}
.profileAvatarAndText {
  background-color:rgb(43, 43, 44);
  display:flex;
  width: 35%;
  border: 3px solid rgb(30, 30, 31);
  border-radius: 20px;
  justify-content: flex-end;
  min-width: 400px;
}
.profiledescription{
  padding: 0.5rem;
  color: #e0e0e0;
}
.profileAbout{
  padding-left: 1rem;
  display:flex;
  justify-content: center;
  align-items: center;
  color: #e0e0e0;
}

.profileText{
  padding-top: 2rem;
}
